@use '_mixins.scss';
@use '_animations.scss';

$color-primary:rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);
$color-mix: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
$color-mixhover:lighten (linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220)),20%);
$color-bgdark: lightgray;
$color-bglight: #F2f2f2;
$color-white : #fff;
$color-black: #000;

$font-head: "Shrikhand", "cursive";
$font-body : "Roboto", "sans-serif";

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: $font-body;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 1440px;
    height: 100%;
    background-color: $color-white;
}

a {
    text-decoration: none;
    color: $color-black;

}

h1 {
    color: $color-black;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.globalwrapper {
    max-width: 1440px;
    max-height: 100%;
    background-color: $color-white;
}

.footer {
    @include mixins.flex(column);
    background-color: $color-black;
    padding: 15px;
    margin: 0;


    &__logo {
        color: $color-white;
        font-family: $font-head;
        font-size: 18px;
        padding-bottom: 15px;
    }

    &__listElt {
        display: flex;
        padding-bottom: 5px;

    }

    &__icon {
        width: 30px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__link {
        color: b.$color-white;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .footer {
        &__list {
            @include mixins.flex(row);
            padding-bottom: 5px;
            justify-content: space-around;

        }
    }
}

@media screen and (min-width:992px) {
    .footer {

        &__logo {
            padding-top: 50px;

        }

        &__list {
            @include mixins.flex(row);
            padding-bottom: 5px;
            justify-content: space-between;
            width: 85%;

        }
    }
}