@use '_mixins.scss';
@use '_animations.scss';

$color-primary:rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);
$color-mix: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto";
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 1440px;
    height: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;

}

h1 {
    color: #000;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.globalwrapper {
    max-width: 1440px;
    max-height: 100%;
    background-color: white;
}

.footer {
    @include mixins.flex;

    flex-direction: column;
    background-color: black;
    padding: 15px;
    margin: 0;


    &__logo {
        color: white;
        font-family: "Shrikhand", "cursive";
        font-size: 18px;
        padding-bottom: 15px;
    }

    &__listElt {
        display: flex;
        padding-bottom: 5px;

    }

    &__icon {
        width: 30px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__link {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .footer {
        &__list {
            display: flex;
            flex-direction: row;
            padding-bottom: 5px;
            justify-content: space-around;
            
        }
    }
}

@media screen and (min-width:992px) {
    .footer {

        &__logo {
            padding-top: 50px;

        }

        &__list {
            display: flex;
            flex-direction: row;
            padding-bottom: 5px;
            justify-content: space-between;
            width: 85%;

        }
    }
}