@use '_base.scss' as b;

@mixin flex ($direction){
    display: flex;
    flex-direction: (direction);
    margin: 0 auto;
}

@mixin centrer {
    text-align: center;
    align-items: center;
    justify-content: center;
}


@mixin container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;

}

@mixin bouton {
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background: b.$color-mix;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 0px rgba(177, 176, 176, 0.75);

    &:hover {
        background-color: b.$color-black;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
        background: b.$color-mixhover;
    }

    transition: 0.2s ease-in-out;
    filter: brightness(1.1);
}

@mixin coeur {
    font-size: 25px;

    &--full {
        position: relative;
        left: -30px;
        background-clip: text;
        color: transparent;
        transform: scale(1);
        transition: transform 400ms;

        &:hover {
            background: -webkit-linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.10);
        }
    }
}