@mixin flex-center ($direction) {
    display: flex;
    flex-direction: #{$direction};
    margin: 0 auto;
}

@mixin centrer {
    text-align: center;
    align-items: center;
    justify-content: center;
}
@mixin bouton {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

