@use "_mixins";


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


html {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

::placeholder {
    text-align: center;

}

.globalwrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    @include mixins.flex-center(row);

    &__logo {
        font-family: "Shrikhand", "cursive";
        text-align: center;
    }
}

.place {
    @include mixins.flex-center(row);
    @include mixins.centrer;
    background-color: lightgray;
    padding: 15px;


    &__icon {
        width: auto;
        color: #9356DC;
    }

    &__txt {
        border: none;
        font-weight: 700;
    }

}

.explore {
    @include mixins.flex-center(column);
    @include mixins.centrer;
    background-color: #F2F2F2;
    padding-bottom: 30px;

    &__btn {
        @include mixins.bouton
    }
}

.fct__list {
    @include mixins.flex-center(column);
    gap: 25px;
    background-color: #F2F2F2;
    

    &__listElt {
        display: flex;
        gap: 15px;
    }
    &__icon {
        padding : 30px;
    }
    
}
